.edit-hike-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-hike-entry h2 {
    margin: 20px;
}

.hike-form-supersection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.hike-form-section label {
    margin-right: 5px;
}

input[type="number"] {
    width: 60px;
}

.notes-input-section {
    display: flex;
    justify-content: flex-start;
}

.buttons-box {
    text-align: center;
}

.buttons-section {
    display: flex;
    flex-direction: row;
}

.submit-button {
    border: 1px solid black;
    padding: 5px 15px;
    margin: 15px 10px;
    border-radius: 5px;
    text-align: center;
}

.submit-button:hover {
    box-shadow: 0 0 5px grey;
    cursor: pointer;
}

.cancel-button {
    border: 1px solid black;
    padding: 5px 15px;
    margin: 15px 10px;
    border-radius: 5px;
    text-align: center;
    display: inline;
}

.cancel-button:hover {
    box-shadow: 0 0 5px grey;
    cursor: pointer;
}

.return-link p {
    margin: 0px;
    font-style: italic;
}

.return-link:hover {
    text-shadow: 0 0 5px grey;
    box-shadow: none;
}

/*--- Medium-sized viewport adjustments ---*/

@media all and (min-width: 450px) and (max-width: 799px) {

    .form-inputs {
        width: 80%
    }

    .buttons-box {
        width: 200px;
    }

    textarea {
        width: 20em;
    }

    .hike-reference-section input {
        width: 20em;
    }
}

/*--- Desktop adjustments ---*/

@media all and (min-width: 800px) {
    .form-inputs {
        width: 60%
    }

    .hike-form-supersection h3 {
        margin: 15px;
    }

    textarea {
        width: 27em;
    }

    .hike-reference-section input {
        width: 20em;
    }
}