.login-form-wrapper {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}

.login-form-wrapper h2 {
    margin: 5px;
}

.login-form-fields-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.error-message {
    margin: 15px;
    color: red;
    font-style: italic;
}

/*--- Desktop adjustments ---*/

@media all and (min-width: 650px) {
    .login-form-wrapper {
        margin: 20px 80px;
        padding: 20px;
    }

    .login-form-wrapper h2 {
        margin: 20px;
    }

    .login-form-section {
        display: inline;
    }
}