.hike-form-supersection {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    line-height: 2;
}

.buttons-box {
    text-align: center;
    padding: 5px;
}

.return-link {
    margin-top: 15px;
}