.hike-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.detail-page-card-container {
    width: 100%;
}

.hike-details-section {
    margin: 10px;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
}

.hike-details-content a:hover {
    box-shadow: none;
    text-shadow: 0 0 5px grey;
}

.hike-detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.hike-detail-ind-button {
    flex: 1;
}

.hike-card-buttons a:hover { 
    text-shadow: none;
    box-shadow: 0 0 5px grey;
}

.return-link p {
    margin: 10px;
    font-style: italic;
    text-align: center;
}

.return-link a:hover {
    text-shadow: 0 0 5px grey;
    box-shadow: none;
}

/*--- Medium-sized viewport adjustments ---*/

@media all and (min-width: 400px) {

    .hike-detail-options {
        width: 200px;
    }
}

/*--- Desktop adjustments ---*/

@media all and (min-width: 650px) {
    .hike-detail-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}