.hike-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.card-title {
    text-align: left;
    width: 200px;
    padding-left: 10px;
}

.card-element {
    border: 1px solid grey;
    margin: 10px;
    padding: 5px;
}

.hike-card-buttons {
    margin-bottom: 10px;
}