h2 {
    margin-left: 30px;
}

.hike-card:hover {
    text-shadow: none;
    box-shadow: 0 0 5px grey;
}

.welcome-message h2 {
    margin: 0;
}

.welcome-message p {
    text-align: center;
    font-size: 16pt;
    margin: 20px 10px;
}

.welcome-message a:hover {
    box-shadow: none;
    text-shadow: 0 0 5px grey;
}

/*--- Desktop adjustments ---*/

@media all and (min-width: 650px) {
    .welcome-message {
        margin: 60px 60px;
    }
}