.nav-bar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border: 1px solid black;
}

.nav-bar-wrapper a:hover {
    text-shadow: 0 0 5px grey;
    box-shadow: none;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
}

.individual-link {
    margin: 0 10px;
}

.demo-link:hover {
    text-shadow: 0 0 5px grey;
    cursor: pointer;
}