.app-wrapper {
  margin: 0px;
  padding: 20px;
}

.main-section {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

footer {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited { color: black}
a:hover { text-shadow: 0 0 5px grey;}

a {
  margin: 0px;
}


